<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="peopleHUB_hrms.Properties.Settings.peopleHUBConnectionString"
            connectionString="Data Source=LAPTOP_AZI;Initial Catalog=peopleHUB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>